/*.item-name {*/
/*    flex-grow: 5;*/
/*    flex-basis: 93%;*/
/*    overflow-wrap: anywhere;*/
/*}*/

.item-name {
    flex-grow: 5;
    flex-basis: 93%;
    /*overflow-wrap: anywhere;*/
    width: 85%;
    min-height: 25px;
    height: auto;
    border: none;
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    /*border-bottom: 2px solid #664C43;*/
    /*overflow-wrap: normal;*/
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
}


.task-item-uncompleted{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    column-gap: 8px;
}

.task-item-completed{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    column-gap: 8px;
    text-decoration: line-through;
}

.check-complete {
    flex-grow: 1;
    flex-basis: 7%;
    width: 1.3em;
    height: 1.3em;
}

/*TODO: unsure if this is the right place*/
#create-item{
    width: 85%;
    height: 25px;
    border: none;
    background-color: beige;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #664C43;
    overflow-wrap: normal;
    word-break: break-all;
}

/*TODO: unsure if this is the right place*/
#create-item:focus {
    outline: none !important;
}

/*TODO: unsure if this is the right place*/
.task-name{
    text-align: center;
}
