@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

#filter{
    height: 80px;
    line-height: 80px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #664C43;
    border-style: solid;
}

#delete{
    height: 80px;
    line-height: 80px;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #664C43;
    border-style: solid;
}

#delete-dropup{
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #664C43;
    border-style: solid;
}

#filter-dropup{
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #664C43;
    border-style: solid;
}

.dropup {
    position: relative;
    display: inline-block;
    /*display: none;*/
    flex-grow: 1.1;
    flex-basis: 0;
}

.dropup-content {
    width: 100%;
    /*display: block;*/
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 160px;
    bottom: 80px;
    z-index: 1;
    border: #664C43;
}

.dropup-content a {
    border-top: 2px solid #664C43;
    border-left: 2px solid #664C43;
    border-right: 2px solid #664C43;
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.accent {
    background-color: #C5AA8C;
}