@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#add{
    margin: 10px 30px 10px 30px;
    height: 40px;
    width: 300px;
    line-height: 40px;
    background-color: #664C43;
    color: beige;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
}