@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');


/* For Mobile Portrait Mode*/
@media only screen and (max-width: 600px) {
    body {
        font-family: 'Montserrat', sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 40vh; /* Location of the box */
        padding-left: 10vw;
        left: 0;
        top: 0;
        margin: 0px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: scroll; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }


    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 5px 25px 20px 25px;
        border: 1px solid #888;
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    #modal-response {
        width: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
    }

    #modal-response button {
        background-color: #C5AA8C;
        color: #664C43;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }

    #confirm-button {
        background-color: #E57171 !important;
    }
}

@media only screen and (orientation: landscape) {
    body {
        font-family: 'Montserrat', sans-serif;
    }

    /* The Modal (background) */
    .modal {
        /*display: block; !* Hidden by default *!*/
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 250px; /* Location of the box */
        left: 0;
        top: 0;
        margin: 0px;
        width: 360px; /* Full width */
        height: 390px; /* Full height */
        overflow: scroll; /* Enable scroll if needed */
        /*background-color: rgb(0, 0, 0); !* Fallback color *!*/
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }


    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 5px 25px 20px 25px;
        border: 1px solid #888;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    #modal-response {
        width: 75%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
    }

    #modal-response button {
        background-color: #C5AA8C;
        color: #664C43;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }

    #confirm-button {
        background-color: #E57171 !important;
    }
}
