
$sidebar-bg-color: #4a4240 !default;
$sidebar-color: #c9c9c9 !default;
$sidebar-width: 60vw !default;
$sidebar-collapsed-width: 20vw !default;
$highlight-color: red !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 2em !default;


    body {
        font-family: 'Montserrat', sans-serif;
    }

    .pro-sidebar.collapsed .pro-item-content {
        font-size: 1em;
    }

    .pro-icon {
        font-size: 1.5em;
    }

    .pro-item-content{
        font-size: 1.5em;
    }


@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        font-family: 'Montserrat', sans-serif;
    }

    .pro-sidebar.collapsed .pro-item-content {
        font-size: 1em;
    }

    .pro-icon {
        font-size: 1.5em;
    }

    .pro-item-content {
        font-size: 1.25em;
    }
}


@media only screen and (min-width: 992px) {
    .pro-sidebar.collapsed .pro-item-content {
        font-size: 1.5em;
    }
}


@import '~react-pro-sidebar/dist/scss/styles.scss';