/* SCSS to control variables for styling the sidebar */
$sidebar-bg-color: #4a4240 !default;
$sidebar-color: #c9c9c9 !default;
$sidebar-width: 60vw !default;
$sidebar-collapsed-width: 20vw !default;
$highlight-color: #c9c9c9 !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 2em !default;

/* Default Styling */
body {
    font-family: 'Montserrat', sans-serif;
}

.pro-sidebar.collapsed .pro-item-content {
    font-size: 1em;
}

.pro-icon {
    font-size: 1.5em;
}

.pro-item-content{
    font-size: 1.5em;
}

/* Mobile Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
    .pro-item-content {
        font-size: 1.25em;
    }
}

/* Mobile Landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    .pro-item-content {
        font-size: 1.1em;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {
    .pro-sidebar.collapsed .pro-item-content {
        font-size: 1.5em;
    }
}

@import '~react-pro-sidebar/dist/scss/styles.scss';

/* Overwrite the default styling in the package */
.pro-menu-item:focus-within{
    border-color: #c9c9c9;
    border-style: solid;
}

@media only screen and (max-width: 310px)  {
    .pro-sidebar {
        width: 192px;
        min-width: 192px;
    }

    .pro-sidebar.collapsed {
        width: 64px;
        min-width: 64px;
    }

    @mixin break-point {
        position: fixed;
        left: -192px;
        &.collapsed {
            left: -64px;
        }
        &.toggled {
            left: 0;
            .overlay {
                display: block;
            }
        }
        &.rtl {
            left: auto;
            right: -192px;
            &.collapsed {
                left: auto;
                right: -64px;
            }
            &.toggled {
                left: auto;
                right: 0;
            }
        }
    }
}